<ion-content>
    <style>
      .alert-head h2 > img{
      position: absolute;
      width: 25%;
      top: 13%;
      width: 10%;
      left: 78px;
      right: 0;
  }
  .scroll-content{
    padding-bottom: 0!important;
    background: url(../assets/imgs/bg-login.png) no-repeat left top!important;
  }
  
  page-cadastro .login-header.background{
    background: none!important;
  }
    .container-stage .number{
      background:#333333;
  
    }
    .button-ios{
      background-color:#0276a9!important;
    }
    .button-md{
      background-color:#0276a9!important;
    }
   
      </style>
    <header class="login-header background" text-center>
      <img src="assets/imgs/logo.png" class="brand" style="    width: 45%;">
        <h3 class="title-blue" style="color:#0276a9!important;">Cadastro</h3>
 
    <div padding>
      <div class="block-text" text-center>
        <p style="color: #333333">Preencha os dados abaixo. <br/> É bem simples e rápido!</p>
      </div>
      <!-- <div class="container-stage" style="    padding-bottom: 0;">
          <div class="number" style="background:#cdcdcd">1</div>
          <div class="text" style="color:#cdcdcd;">
            <strong >Selecione seu tipo de perfil:</strong>
            <p>De acordo com o perfil iremos selecionar a melhor maneira de passar informações.</p>
          </div>
        </div> -->
      <!-- <div class="container-stage" style="    padding-bottom: 10%;">
          <div class="number" > 2
       
          </div>
   
        <div class="text">
          <strong>Preencha seus dados iniciais:</strong>
          <p style="color:#333333">*Todos os dados devem ser preenchidos</p>
        </div>
      </div> -->
      <form autocomplete="off" #loginform="ngForm">
      <ion-list>
        <ion-item class="input-block-color">
          <ion-input type="text" placeholder="Nome" [(ngModel)]="form.Nome" name="Nome"></ion-input>
        </ion-item>
  
        <ion-item class="input-block-color">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="form.Email" name="Email"></ion-input>
        </ion-item>
  
        <ion-item class="input-block-color">
  
          <!-- <ion-input placeholder="Telefone"  [textMask]="{mask: maskcel}" type="tel" [(ngModel)]="form.Numero" name="Numero"></ion-input>  -->
          <ion-input placeholder="Telefone"  [brmasker]="{phone: true}" type="tel" [(ngModel)]="form.Numero" name="Numero"></ion-input> 
  
        </ion-item>
  
        <ion-item class="input-block-color" style="  margin-bottom: 0!important;    border-radius: 10px 10px 0px 0px;">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="form.Senha" name="Senha"></ion-input>
        </ion-item>
  
        <ion-item class="input-block-color" style="  border-radius: 0px 0px 10px 10px;border-top: 0.55px solid #c8c7cc;    border-bottom: 0;">
          <ion-input type="password" placeholder="Confirmar senha" [(ngModel)]="form.ConfirmarSenha" name="ConfirmarSenha"> </ion-input>
        </ion-item>
  
        <!-- <ion-item margin-top class="checkbox" style="background-color: transparent;border-bottom:none">
          <ion-label><strong>Li</strong> e <strong>aceito</strong> os termos de uso</ion-label>
          <ion-checkbox checked="true" [(ngModel)]="model.CheckTermo" name="CheckTermo"></ion-checkbox>
        </ion-item> -->
  
      </ion-list>
      <button ion-button full text-uppercase (click)="onRegister()" >Enviar</button>
    </form>

      <button ion-button outline full text-uppercase margin-top (click)="loginToFacebook()">
        <img class="ico-general-button" src="assets/imgs/ico-facebook.png" width="11" height="19"> Cadastrar pelo Facebook
      </button>
    </div>
  </header>
    <div>
        <ion-toolbar (click)="goPage('cadastro-tipoperfil')" text-center style="color:#fff">
            Voltar a tela <strong> anterior</strong>
          </ion-toolbar>
    </div>
    

  </ion-content>
  
  