<div class="container-round">
        <div class="box">
            <button class="btnClose" (click)="close()">
                <ion-icon name="close"></ion-icon>
            </button>
            <ion-icon name="checkmark"  class="check"></ion-icon>
            <ion-icon name="close-circle" class="check"></ion-icon>
            <div class="text">teste</div>
            <div class="text">testte</div>
            <button class="btnOk" (click)="close()">tete</button>
           
        </div>
    </div>