<ion-content>
  <style>
    .card-options li ion-icon{
      color: #cdcdcd;
    }
    .vp{
      margin-top: 6%!important;
    width: 100%!important;
    }
    strong{
      color:#333333;
    }
    .card-options{
      margin-top: 20px!important;

    }
    .card-options li.select{
      background: #fff;
    }
    .card-options li{
      border:none;
      background: #efefef;
      padding-top: 5px!important;
      padding-bottom: 5px!important;                            
      margin-bottom: 7px!important;
      font-size: 1.5rem!important
    }
  .scroll-content{
    /* background: url(../assets/imgs/bg-login.png)!important; */
  background-size: cover!important;
  background-repeat: no-repeat;
  }
  .imgvolu{
    width: 60%;
    margin-top: 4%;
  }
  .arrowteste{
    margin-right: 3%;
  }
  .container-stage .number{
    background:#333333;
}
  
  </style>
  <div padding style=" background: url(./assets/imgs/bg2.png) left top !important;
  background-size: cover!important;
  background-repeat: no-repeat;">
    <header class="login-header" text-center>
        <img src="assets/imgs/logo-black.png" class="brand imgvolu">
        <div class="vp">
          <img src="assets/imgs/voluntario_patria.png" class="brand imgvp" style="    width: 65%!important;">

        </div>

        <h3 class="title-blue" style="color:#0276a9;">Cadastre-se!</h3>
    </header>
    <div class="container-stage">
        <!-- <div class="number">1</div> -->
        <div class="text">
          <strong>Esta é sua primeira tarefa, recruta! Selecione seu tipo de perfil:
          </strong>
          <p>De acordo com sua escolha, saberemos qual será seu posto em nossa batalha.
          </p>
        </div>
      </div>


    <ul class="card-options">
        <li (click)="goEtapa('cadastro', 2)">
        <img src="assets/imgs/arrowteste.png" class="arrowteste">
          <strong>Quero apenas receber informações sobre a campanha de Jair Bolsonaro.
          </strong>
        </li>
        <li (click)="goEtapa('cadastro', 2)">
        <img src="assets/imgs/arrowteste.png" class="arrowteste">
          <strong>Quero participar. Conte comigo para compartilhar informações!</strong>
        </li>
        <li (click)="goEtapa('cadastro', 3)">
        <img src="assets/imgs/arrowteste.png" class="arrowteste">
          <strong>Quero contribuir como voluntário e financeiramente!
          </strong>
        </li>
        <li (click)="goEtapa('cadastro', 4)">
        <img src="assets/imgs/arrowteste.png" class="arrowteste">
          <strong>Quero me filiar ao partido de Jair Bolsonaro.
          </strong>
        </li>
    </ul>
    <!-- <button ion-button full text-uppercase (click)="goPage('cadastro')">Etapa seguinte</button> -->
  </div>
  
</ion-content>
<ion-footer>
  <ion-toolbar (click)="goPage('login')" text-center style="color:#fff;background:#0276a9;">
    Ou, volte para <strong style="color:#fff">o login</strong>
  </ion-toolbar>
</ion-footer>


