page-cadastro {
    background: url(../assets/imgs/bg2.png) no-repeat left top!important;
    .button-full.button-outline {
        margin-top: 15px;
        background: #f3f3f3!important;
        border: 2px solid #0276a9!important;
        .button-inner {
            color: #0276a9;
            strong {
                margin-left: 5px;
                color: #0276a9!important;
            }
        }
    }
    .login-header {
        color: white;
        padding: 40px 0 10px;
        &.background{
            // background: url(../assets/imgs/bg-login.png) no-repeat left top;
        }
        .title-blue {
            color: white;
            text-transform: uppercase;
        }
    }
    .scroll-content{
        background: url(../assets/imgs/bg-login.png) no-repeat left top!important;
    }
}
.list-ios > .item-block{

  border-radius: 10px 10px 10px 10px;
  margin-bottom: 3%;
}
.list-ios > .item-block:first-child{
  border-top: none!important;
}
.list-ios > .item-block:last-child{
  margin-bottom: 0!important;
}

.list-ios .item-block .item-inner{
  border-bottom:none!important;
}
.card-options {
   margin: 35px 0;
   padding: 0;
   li {
       padding: 0;
       list-style: none;
       border: 2px solid #cdcdcd;
       padding: 15px;
       margin-bottom: 15px;
       border-radius: 15px;
       display: flex;
       font-size: 1.4rem;
       transition: all 0.3s ease;
       min-height: 85px;
       align-items: center;
        ion-icon {
            color: #220b0b;
            font-size: 2em;
            margin-right: 15px;
        }
        &.select {
            background: color($colors, primary);
            color: white;
            border: 0;
            ion-icon {
                color: white;
            }
        }
   }
}
.alert-ios .alertcss img{
    position: absolute;
    width: 25%;
    top: 13%;
    width: 10%;
    left: 78px;
    right: 0;
}
.alert-ios .alert-button{
    background: #0276a9!important;
    color: #fff!important;
}
