page-participacao-enviar-participacao {
    ion-app.md [padding]{
        background: #f3f3f3 !important;
    }
    .button {
        font-size: 1.3rem;
        font-weight: 600;
    }
    .card-ios{
        margin: 12px 0;
        width: 100%;
            -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
            margin: 0px 0 20px;
            border-radius: 10px;
            overflow: hidden;
    }
    .card-ios .item-ios.item-block .item-inner{
        border-bottom: 1px solid #dedede
    }    
    .label-ios[stacked]{
        color: #999;
    }
    .item-input ion-label{
        color: #999;
        font-size: 1.2em
    }
    .error{
        color: red;
        padding-left: 7px;
    }
    .container-stage {
        background: #f3f3f3;
        margin: -15px -15px 15px;
        padding: 15px;
    }
    textarea {
        height: 120px;
    }
    .list-categories {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
        padding: 0;
        li {
            list-style: none;
            text-align: center;
            padding: 10px 5px;
            border-radius: 5px;
            background: #6d9bc8;
            color: #fff;
            width: 32.2%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 90px;
            margin-right: 1.5%;
            margin-bottom: 1.5%;
            &:nth-child(3n) {
                margin-right: 0;
            }
            img{
                width: 40%;
            }
            p {
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;

            }
            ion-icon {
                font-size: 3rem;
            }
        }
    }
}


.options-upload {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    .button {
        width: 40%;
    }
}