<ion-header color="header">
 
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Notícias</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style=" background: #fff!important;">
    <style>
     section, .scroll-content, .fixed-content, div {
  background: #fff!important;
  margin-top: -1%;
}
.vejaoutras{
        background:#fafafa!important;
    }
.button-clear-ios {
    border-color: transparent;
    color: #bfbfbf!important;
    background-color: transparent;
}

        </style>
  <img *ngIf="conteudo.Imagem"[src]="conteudo.Imagem" class="img-featured">
  <div>
    <section class="buttons-event classeheader" style="padding:16px;">
      <small class="date">{{conteudo.DataHora}}</small>
      <div class="buttons">
      <button ion-button icon-left clear small (click)="postLike(conteudo)" [ngClass]="{'liked': conteudo.JaCurtiu}" style="border-radius: 0!important;
      border-right: 1px solid;    height: 16px;">
      <ion-icon name="heart" [ngClass]="{'liked': conteudo.JaCurtiu}"></ion-icon>
      <!-- <ion-icon name="heart" *ngIf="conteudo.Curtidas > 0" style="color:#004f99"></ion-icon> -->
      <div [ngClass]="{'liked': conteudo.JaCurtiu}">{{conteudo.Curtidas}}</div>
      <!-- <div *ngIf="conteudo.Curtidas > 0" style="color:#004f99">{{conteudo.Curtidas}}</div> -->
      </button>
      <button class="share" ion-button icon-right text-left clear small (click)="postShare(conteudo)">
        <img src="assets/imgs/sharenot.png" class="imgshare">
              
      </button>
    </div>
    </section>
    <section class="firstSec">
      <small text-uppercase class="yellow-color bold">{{conteudo.CategoriaConteudo?.Nome}}</small>
      <h2 class="bold">{{conteudo.Titulo}}</h2>
      <div class="block-text" margin-top [innerHtml]="conteudo.Texto"></div>
    </section>
    <section class="padding-section vejaoutras">
      <h5 class="bold">Veja outras notícias</h5>
      <ion-slides pager spaceBetween="-40">
        <ion-slide *ngFor="let noticia of (noticiasList | slice: -3)">
          <ion-card text-left (click)="openDetail('noticias', noticia.Id)">
            <ion-card-content>
              <small text-uppercase class="yellow-color">{{noticia.CategoriaConteudo?.Nome}}</small>
              <ion-card-title>{{noticia.Titulo}}</ion-card-title>
              <div [innerHtml]="noticia.Texto | excerpt:50"></div>
            </ion-card-content>
            <ion-row class="footer-card">
              <ion-col>
                <button ion-button icon-left clear small (click)="postLike(noticia)" [ngClass]="{'liked': noticia.JaCurtiu}">
                  <ion-icon name="heart"></ion-icon>
                  <div>{{noticia.Curtidas}}</div>
                </button>
              </ion-col>
              <ion-col text-right>
                <ion-note>{{noticia.Hora}}</ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-slide>
      </ion-slides>

    </section>
  </div>
</ion-content>

