<div class="container-round" text-center>
  <header>
    <h3 class="title-blue">Indique amigos</h3>
    <p>Ganhe X pontos a cada amigo que se cadastrar.</p>
  </header>
  <h4 class="title">Digite o e-mail de seu amigo para enviar sua indicação.</h4>
  <ion-list>
    <ion-item>
      <ion-label stacked text-uppercase>E-mail</ion-label>
      <ion-input type="text" placeholder="Digite o e-mail de seu amigo(a)"></ion-input>
    </ion-item>
    <button ion-button clear> <ion-icon name="add"></ion-icon> Adicionar mais um amigo</button>
    <div margin-top>
        <button ion-button block>Enviar</button>
    </div>
  </ion-list>
</div>

