<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Meu Perfil</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-segment [(ngModel)]="tab" color="primary" class="wrap">
    <ion-segment-button value="meus-dados">Meus <br/> Dados</ion-segment-button>
    <ion-segment-button value="endereco">Endereço</ion-segment-button>
    <ion-segment-button value="dados-sociais">Dados Sociais</ion-segment-button>
    <!-- <ion-segment-button value="minhas-preferencias">Minhas Preferências</ion-segment-button> -->
  </ion-segment>
  <div [ngSwitch]="tab" padding>
    <div *ngSwitchCase="'meus-dados'">
      <ion-row>
        <ion-col col-4>
          <div class="avatar-change" (click)="presentActionSheet()">
            <div *ngIf="user.CaminhoFoto != ''" [style.backgroundImage]="'url(' + user.CaminhoFoto + ')'" class="avatar"> </div>
            <div *ngIf="user.CaminhoFoto == ''" [style.backgroundImage]="'url(http://mypolis.com.br/images/avatar-list.png)'" class="avatar"> </div>
            <span>Trocar</span>
          </div>
        </ion-col>
        <ion-col col-8>
          <ion-item>
            <ion-label stacked text-uppercase>Nome</ion-label>
            <ion-input type="text" value="{{user.Nome}}" [(ngModel)]="user.Nome"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>E-mail</ion-label>
            <ion-input type="text" value="{{user.Email}}"[(ngModel)]="user.Email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>Celular</ion-label>
            <ion-input type="tel" [brmasker]="{phone: true}" value="{{user.Celular}}" [(ngModel)]="user.Celular"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>Telefone Fixo</ion-label>
            <ion-input type="tel" [brmasker]="{phone: true}" value="{{user.Telefone}}"[(ngModel)]="user.Telefone"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Sexo</ion-label>
            <ion-select [(ngModel)]="user.Sexo" name="Sexo" multiple="false" >
              <ion-option value="1">Masculino</ion-option>
              <ion-option value="2">Feminino</ion-option>
              <ion-option value="0">Outro</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>RG</ion-label>
            <ion-input type="tel" [brmasker]="{mask:'00.000.000-0', len:12}" value="{{user.RG}}"[(ngModel)]="user.RG"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>CPF</ion-label>
            <ion-input type="tel" [brmasker]="{person: true}" value="{{user.CPF}}"[(ngModel)]="user.CPF"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Estado Civil</ion-label>
            <ion-select [(ngModel)]="user.EstadoCivil" name="EstadoCivil" multiple="false">
              <ion-option value="1" selected>Solteiro</ion-option>
              <ion-option value="2">Casado</ion-option>
              <ion-option value="3">Separado</ion-option>
              <ion-option value="4">Divorciado</ion-option>
              <ion-option value="5">Viúvo</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>Senha</ion-label>
            <ion-input type="password" [(ngModel)]="user.Senha"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>Confirme sua senha</ion-label>
            <ion-input type="password" [(ngModel)]="user.ConfirmarSenha"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'endereco'">
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Estado</ion-label>
            <ion-select [(ngModel)]="user.Estado" multiple="false" (ionChange)="onSelectCidade($event)"  [selectOptions]="selectOptEstados">
              <ion-option *ngFor="let estado of estados" [value]="estado.sigla">{{estado.nome}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Cidade</ion-label>
            <ion-select [(ngModel)]="user.Cidade" [selectOptions]="selectOptCidades">
              <ion-option *ngFor="let cidade of cidades" value="{{cidade}}" [attr.selected]="(user.Cidade == cidade) ? true : null">{{cidade}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>Rua</ion-label>
            <ion-input type="text" value="{{user.Rua}}"[(ngModel)]="user.Rua"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>Número</ion-label>
            <ion-input type="tel" value="{{user.Numero}}"[(ngModel)]="user.Numero"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>Complemento</ion-label>
            <ion-input type="text" value="{{user.Complemento}}"[(ngModel)]="user.Complemento"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>CEP</ion-label>
            <ion-input type="tel" [brmasker]="{mask:'00.000-000', len:10}" value="{{user.CEP}}" [(ngModel)]="user.CEP"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>Bairro</ion-label>
            <ion-input type="text" value="{{user.Bairro}}"[(ngModel)]="user.Bairro"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'dados-sociais'">
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>Facebook</ion-label>
            <ion-input type="text" value="{{user.Facebook}}" [(ngModel)]="user.Facebook"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>Instagram</ion-label>
            <ion-input type="text" value="{{user.Instagram}}" [(ngModel)]="user.Instagram"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked text-uppercase>Twitter</ion-label>
            <ion-input type="text" value="{{user.Twitter}}" [(ngModel)]="user.Twitter"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <!-- <div *ngSwitchCase="'minhas-preferencias'">
      <ion-row>
        <ul class="list-default">
          <li>
            <div>
              <ion-icon name="body" item-start></ion-icon>Política
            </div>
            <ion-icon name="heart" class="heart select" item-end></ion-icon>
          </li>
          <li>
            <div><ion-icon name="videocam" item-start></ion-icon>Cinema</div>
            <ion-icon name="heart" class="heart" item-end></ion-icon>
          </li>
          <li>
            <div><ion-icon name="person" item-start></ion-icon>Interação</div>
            <ion-icon name="heart" class="heart" item-end></ion-icon>
          </li>
          <li>
            <div><ion-icon name="list-box" item-start></ion-icon>Educação</div>
            <ion-icon name="heart" class="heart" item-end></ion-icon>
          </li>
        </ul>
      </ion-row>
    </div> -->
    <footer margin-top>
      <button ion-button full text-uppercase (click)="putPerson()">Salvar</button>
    </footer>
  </div>
</ion-content>
