<div class="container-round">
    <div class="box">
        <button class="btnClose" (click)="close()">
            <ion-icon name="close"></ion-icon>
        </button>
        <ion-icon name="checkmark" *ngIf="!data.error" class="check"></ion-icon>
        <ion-icon name="close-circle" *ngIf="data.error" class="check" [ngClass]="{'error': data.error}"></ion-icon>
        <div class="text">{{data.Titulo}}</div>
        <div class="text">{{data.Mensagem}}</div>
        <button class="btnOk" (click)="close()">{{data.Btn}}</button>
       
    </div>
</div>