modal-sucesso {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    box-sizing: border-box;
    .container-round {
        font-family: "QuickSand";
        border-radius: 10px;
        // padding: 25px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: absolute;
        top: 30%;
        text-align: center;
        color: #014f99;
        width: 75%;
        margin-left: 5%;
        margin-right: 5%;
        .box {
            background: #ffffff;
            border-radius: 10px;
            padding: 25px;
            // margin-right: 3%;
            box-sizing: border-box;
         .check{
          font-size: 5em;
          font-weight: bold;
          padding-bottom: 0;
          height: 19px;
          margin-top: -8%;
            &.error{
              color: red !important;
            }
          }
          .text{
            font-weight: bold;
            margin-top: 5%;
            margin-bottom: 4%;
            font-size: 1.3em;
          }

          .btnOk{
            background-color: #014f99;
            width: 100%;
            border-radius: 5px;
            height: 39px;
            color: white;
            font-size: 1.1em;
            margin-top: 10%;
            font-weight: bold;
            margin-top: 10%;
          }
          .btnClose{
            width: 21px;
            height: 24px;
            position: absolute;
            right: 10px;
            top: 5px;
            background-color: transparent;
            color: #999999;
            font-weight: bold;
            font-size: 1.5em !important;
            ion-icon{
             font-weight: bold;
            }
          }
        }
    }
}