<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Seja um Voluntário</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="vol" style=" background-color: #fff !important;background:#fff;">
  <style>
    .has-refresher > .scroll-content {
    background-color: #fff !important;
}
.textovolunt{
  padding-left:16px;
  padding-right:16px;
  padding-bottom: 10px;
}
.has-refresher > .scroll-content { background-color: #fff!important; }


  </style>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <img src="{{vol.Imagem}}" class="img-featured" (click)="openExternal(vol.Url)">
  <div  style="background-color:#fff!important; margin-top: -1%!important; ">
    <header class="buttons-event right" style="height: 48px!important;
    margin-top: -3%!important;padding: 16px;">
      <button ion-button icon-left clear small [ngClass]="{'liked': vol.JaCurtiu}" (click)="postLike(vol)">
        <ion-icon name="heart"></ion-icon>
        <div>{{vol.Curtidas}}</div>
      </button>
    </header>
    <div class="textovolunt">
    <h2 class="bold">{{vol.Titulo}}</h2>
    <div class="block-text" margin-top>
      <p [innerHtml]="vol.Texto"></p>
      <div class="butaozin" *ngIf="buttonenviar">
        <button ion-button outline (click)="sharing('Venha ser um Voluntário da Pátria. Baixe o aplicativo e faça seu cadastro.')">
          Enviar Convite
        </button>
      </div>
    </div>
  </div>
  </div>
</ion-content>
