// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts


$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #0276a9,
  secondary:  #fbc200,
  danger:     #f53d3d,
  basegreen:    #3a9243,
  light:      #ffffff,
  white:  #ffffff,
  dark:       #222,
  soft:       #76a9d9,
  colorblue:   #07417c,
  header: (
    base: #0276a9,
    contrast: #ffffff,
  )
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


$toolbar-background: #0276a9;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$badge-ios-border-radius: 100%;
$badge-md-border-radius: 100%;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


$font-family-base: 'QuickSand';
$font-family-ios-base: 'QuickSand';
$font-family-md-base: 'QuickSand';
$font-family-wp-base: 'QuickSand';

$button-md-height: 4.5rem;
$button-ios-height: 4.5rem;

$badge-md-background-color: color($colors, soft);
$badge-ios-background-color: $badge-md-background-color;

