<ion-content>
  <div padding>
    <header class="login-header" text-center>
        <img src="http://via.placeholder.com/100x90" class="brand">
        <h3 class="title-blue">Você precisa ser convidado!</h3>
        <div class="block-text">
          <p>Para se cadastrar em nosso movimento, você precisa ter um número de convite, que pode ser obtido através de um amigo que já faça parte desse movimento.</p>
        </div>
    </header>
    <ion-list>
      <ion-item>
        <ion-label floating text-uppercase>Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating text-uppercase>Número do Convite</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

    </ion-list>
    <button ion-button full text-uppercase margin-top>Entrar</button>
  </div>
  <footer class="container-footer" text-center>
      <h2 class="title">Não tem convite?</h2>
      <div class="block-text">
        <p>Faça login com o Facebook e descubra quais amigos possuem convites para te enviar.</p>
      </div>
      <button ion-button outline full text-uppercase margin-top color="light">Ou faça login usando Facebook</button>
  </footer>
</ion-content>
<ion-footer>
  <ion-toolbar (click)="goPage('login')" text-center>
    Voltar para a tela de <strong>Login</strong>
  </ion-toolbar>
</ion-footer>


