page-convite {
    .container-footer {
        background: color($colors, colorblue);
        padding: 20px 15px;
        color: white;
        box-shadow: 1px -1px 14px 2px rgba(0,0,0,0.2) inset;
        .title {
            color: color($colors, secondary);
            font-weight: bold;
        }
    }
}
