page-quero-contribuir {
  .toolbar-title {
    margin-top: 0 !important;
    width: 90% !important;
  }
  .pzin{
    margin-top: -1.1%!important;
  }
  .p33{
    color:#333;
  }
  .invalid {
    border: 1px solid #ea6153;
}

.error
{
  color: red;
  padding-left: 7px;
}
.error-check
{
  .checkbox-icon{
    border-color: red;
  }
 
}
.check{
  background-color: #0276a9 !important;
  color:white !important;
}
.text-input{
  padding-left: 16px!important;
}
  ion-content, .scroll-content {
    background: #fff;
  }

  .qc {
    &-header {
      position: relative;
      top: -18px;
      left: 0;
      display: block;
      width: 100%;
      background: color($colors, header);
      color: #fff;
      text-align: center;
      padding-bottom: 2.5em;
      border-bottom: 1px solid #E3E7EA;

      .photo {
        position: relative;
        z-index: 10;
        top: 2em;
        margin: 1em auto;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 2px solid #fff;
        background: transparent url(../assets/imgs/fakes/bolso2.jpg) no-repeat center center;
        background-size: cover !important;
    }

      .mask {
        position: absolute;
        top: 37%;
        z-index: 9;
        left: 0;
        width: 100%;
        height: 63%;
        background: transparent url(../assets/imgs/mask.png) no-repeat top center;
        background-size: cover;
      }

      h2 {
        position: relative;
        z-index: 10;
        top: 24px;
        display: block;
        font-weight: bold;
        color: black;
      }

      h5 {
        position: relative;
        z-index: 10;
        top: 11px;
        display: block;
        font-weight: normal;
        font-size: 1.5rem;
        color: #7a7a7a;
      }
    }

    &-form {
      position: relative;
      width: 100%;
      padding: 0 16px 40px 16px;
      margin-top: 0;

      h3 {
        color: color($colors, primary);
        font-size: 2.2rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 2rem;
      }

      .item {
        margin-bottom: 12px
      }

      .item-cover{
        height:55% !important;
      }

      .item-inner {
        border: 0 none !important;
        box-shadow: none !important;
        padding-right: 0!important;
        background:none!important;
      }

      ion-input, ion-select, .select-text {
        font-size: 1.5rem;
        background: #E5E6EA;
        border-radius: 5px;

        &[name=valor] {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &[name=cartao_cvv] {
          background: #E5E6EA url(../assets/imgs/ico-cvv.png) no-repeat 95% center;
        }
      }

      .select-text {
        padding-left: 4px;
      }

      .select-icon .select-icon-inner {
        left: -10px;
      }

      .qc-buttons {
        ion-label {
          margin-right: 0;
        }

        button {
          height: 3.75rem;
          border-radius: 20px !important;
          text-transform: uppercase;
          font-size: 1.5rem;
          font-weight: bold;

          &.qc-btn-cancel {
            background: #A6AFC0
          }
        }
      }

      ion-checkbox {
        margin-right: 16px!important;
      }

      .qc-two {
        ion-input {
          &:first-child {
            margin-right: 12px;
          }
        }

        ion-select {
          padding: 10px 4px 8px;

          &:first-child {
            margin-right: 12px;
          }
        }
      }

      .label[stacked] {
        font-size: 1.5rem;
        letter-spacing: -1px;
        color: #3c3c3c;
      }

      .item-label-stacked {
        .text-input {
          padding: 3px 12px;
          padding-left: 16px!important;
        }
      }

      .no-margin-bottom {
        margin-bottom: 0;
      }

      .segment-md .segment-button, .segment-ios .segment-button {
        font-size: 2rem !important;
        line-height: .2!important;
        height: 6.2rem;
        display: flex;
        justify-content: center;
        


      }

      ion-segment-button {
        background: #E5E6EA !important;
        border-color: #E5E6EA !important;

        color: #3c3c3c !important;
        font-weight: normal !important;

        &.segment-activated {
          color: #fff !important;
          background: color($colors, primary) !important;
          border-color: color($colors, primary) !important;
        }
      }


    }

    &-footer {
      .toolbar-background {
        background: #E5E6EA;
      }

      .toolbar-title {
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.4rem;
        color: #3c3c3c;
        width: 100% !important;

        strong {
          font-weight: bold;
        }
      }
    }

    &-group-btn {
      ion-label {
        margin-top: 0;
      }

      button {
        background: #E5E6EA;
        height: 4rem;
        border-radius: 5px!important;
        font-size: 1.5rem;
        color: #3c3c3c;
      }
    }

    &-label {
      margin: 0;
      padding: 13px 8px 14px;
      background: #767C8A;
      color: #fff!important;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &-info {
      margin-top: 16px;
      margin-bottom: 16px;

      ion-icon {
     margin: 0 5px!important;
    font-size: 4rem!important;
    // margin-top: 7%!important;
      }

      .item-inner {
        margin-left: 4px !important;
      }
    }
  }

  ion-grid {
    width: 100%;
    height: 100%;

    ion-row {
      width: 100%;
      height: 100%;
    }
  }

  .qc-confirmation {
    h2 {
      text-align: center;
      font-weight: bold;
      font-size: 3rem;
      letter-spacing: -1px;
    }

    ion-icon {
      font-size: 12rem;
      color: #9c9c9c;
    }

    p {
      text-align: center;
      font-size: 2.2rem;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      color: #7a7a7a;
      letter-spacing: -2px;
    }
  }
}
modal-tse {
  background: rgba(0, 0, 0, 0.7);
  padding: 25px;
  box-sizing: border-box;
  .container-round {
      background: #ececec;
      border-radius: 10px;
      height: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      
      .box {
          background: #ffffff;
          border-radius: 10px;
          padding: 25px;
          box-sizing: border-box;
          overflow: auto;
          .btnOk{
            background-color: #014f99;
            width: 100%;
            border-radius: 5px;
            height: 39px;
            color: white;
            font-size: 1.1em;
            margin-top: 10%;
            font-weight: bold;
            margin-top: 10%;
          }
          .btnClose{
            width: 25px;
            height: 25px;
            position: absolute;
            right: 30px;
            top: 30px;
            background-color: transparent;
            color: #999999;
            font-weight: bold;
            font-size: 1.5em !important;
            ion-icon{
             font-weight: bold;
            }
          }
          .bold {
              margin: 2px 0;
          }
          .options-modal {
              display: flex;
              justify-content: center;
              font-weight: bold;
              button {
                  background: transparent;
                  .ico {
                      width: 60px;
                      height: 60px;
                      background: #339966;
                      border-radius: 100%;
                      display: block;
                      color: #fff;
                      font-size: 30px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      content: '';
                      margin: 10px auto;
                  }
                  &.negative {
                      .ico {
                          background: #cc6666;
                      }
                  }
              }
          }
      }
  }
}


