<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Programa de Pontos</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <header class="information-user">
    <div>
        <small>Você possui</small>
        <p><strong>{{TotalPontos}}</strong> pontos</p>
    </div>
    <div>
        <small>Você é um</small>
        <p><strong>{{MedalhaAtual}}</strong></p>
    </div>
  </header>
  <ion-segment [(ngModel)]="tab" color="primary" class="wrap">
    <ion-segment-button value="como-funciona">Como Funciona</ion-segment-button>
    <ion-segment-button value="historico">Histórico</ion-segment-button>
    <ion-segment-button value="medalhas">Medalhas</ion-segment-button>
  </ion-segment>
  <div padding>
    <div [ngSwitch]="tab">
      <div *ngSwitchCase="'como-funciona'">
        <div class="block-text">
          <p>Quanto mais você usa o aplicativo e executa determinadas ações, mais pontos você ganha. Usuários engajados têm pontuação mais alta.</p>
        </div>
        <ion-list class="padding-section">
          <ion-card>
            <ion-card-content class="flex-card">
              <ion-icon class="set" name="phone-portrait"></ion-icon>
              <div>
                <ion-card-title>Interagindo com o aplicativo</ion-card-title>
                <p>Compartilhe os conteúdos do aplicativo, dê curtidas, crie participações. Cada ação te dá mais pontos.</p>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content class="flex-card">
              <ion-icon class="set" name="clipboard"></ion-icon>
              <div>
                <ion-card-title>Complete seu cadastro</ion-card-title>
                <p>Informe seus dados completando seu cadastro e você ganhará ainda mais pontos.É simples e rápido.</p>
                <button ion-button outline (click)="openDetail()">Completar Agora</button>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content class="flex-card">
              <ion-icon class="set" name="text"></ion-icon>
              <div>
                <ion-card-title>Responda Pesquisas</ion-card-title>
                <p>A cada pesquisa que você participa, você ganha novos pontos. Veja as pesquisas em aberto e participe.</p>
                <button ion-button outline (click)="openPesquisa()">Ver Pesquisas</button>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content class="flex-card">
              <ion-icon class="set" name="body"></ion-icon>
              <div>
                <ion-card-title>Convide Amigos</ion-card-title>
                <p>Juntos somos mais fortes. Quanto mais amigos engajados nessa causa, mais força teremos na mudança do país.</p>
                <button ion-button outline (click)="sharing('Venha ser um Voluntário da Pátria. Baixe o aplicativo e faça seu cadastro.')">Enviar Convite</button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <div *ngSwitchCase="'historico'">
        <div class="block-text">
          <p>Confira seu histórico de ações e os pontos ganhos em cada uma através da lista abaixo.</p>
        </div>
        <div class="box-round">
          <header>Histórico de Pontos</header>
          <ion-list>
            <ion-item *ngFor="let  ext of extrato">
              <ion-icon name="add" item-start></ion-icon>
              <div>
                <small>{{ext.DataFormatada}}</small>
                <h3>{{ext.RegraPonto.NomeTipo}}</h3>
              </div>
              <div item-end class="plus">+{{ext.Pontos}}pts</div>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div *ngSwitchCase="'medalhas'">
        <div class="block-text">
          <p>Quanto mais pontos você fizer, mais medalhas você conquista. Confira as medalhas disponveis e a pontuação que você precisa obter para cada uma.            </p>
        </div>
        <div class="box-round">
          <header>Categoria</header>
          <ion-list>
            <ion-item *ngFor="let medalha of medalhas">
              <div class="flexTitle">
                <img src="{{medalha.ImagemUrl}}" alt=""> 
                <h3>{{medalha.Nome}}</h3>
              </div>
              <div item-end class="plus">{{medalha.Pontos}}pts</div>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>
