page-tutorial {
    .ico {
        width: 70%;
        margin: 0 auto;
        transform: scale(0.8);
        opacity: 0.5;
        transition: transform 0.5s 0.5s ease, opacity 0.5s ease;
    }
    p {
        font-size: 1.5rem;
        color:#fff;
        line-height: 2rem;
        margin-right: 10%;
        margin-left: 10%;
    
    }
    ion-slide {
        &.swiper-slide-active {
            .ico {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        margin-top: -30px;
        position: relative;
        z-index: 10;
        button, ion-icon {
            color: #bfbfbf;
            text-transform: uppercase;
            background: transparent;
            font-size: 1.8rem;
            font-weight: bold;
        }
        ion-icon {
            font-size: 2.2rem;
        }
    }
}
.swiper-pagination-bullet-active{
    background: #fff!important;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: #fff!important;

}