<ion-header color="header">
  <ion-navbar>
    <ion-title text-center>{{interna.Titulo}}</ion-title>
    <ion-buttons end>
      <button  class="search-header">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div [innerHTML]="interna.Texto"></div>
</ion-content>
