page-participacao-participacao-detalhe {
    .card-ios{
        margin: 12px 0;
        width: 100%;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
        margin: 0px 0 20px;
        border-radius: 10px;
        overflow: hidden;
    }
    .list-pictures {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            padding: 0;
            width: 32%;
            margin-right: 1.7%;
            margin-bottom: 1.7%;
            list-style: none;
            img {
                width: 100%;
                border-radius: 5px;
                height: 80px;
                object-fit: cover;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    textarea {
        height: 120px;
    }
    .item-textarea{
        margin-bottom: 5%;
    .textarea-detalhe
    {
        border-radius: 5px;
        margin-bottom: 5%;
        width: 100%;
    
    }
}
    .card-md .item-md.item-block .item-inner{
        border-bottom: 0 !important;
        padding: 0;
    }

    ion-label{
        white-space: unset;
    }
}
