<ion-header color="header">
  <style>
  .item-input ion-textarea{
  border: 1px solid #dedede;
  margin-bottom: 10%;
  padding: 5%;
}
  </style>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Minha Participação</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="part">
    <ion-card-content>
      <ion-note>
        <ion-icon name="calendar"></ion-icon> {{part.DataCompleta}}</ion-note>
      <div class="block-text" margin-top>
        <div>
          <strong>Categoria:</strong>
          <p>{{part.CategoriaNome}}</p>
        </div>
        <div margin-top>
          <strong>Tipo:</strong>
          <p>{{part.SolicitacaoCategoria.Nome}}</p>
        </div>
        <div margin-top>
          <strong>Local:</strong>
          <p>{{part.Local}}</p>
        </div>
        <div margin-top>
          <strong>Descrição:</strong>
          <p>{{part.Texto}}</p>
        </div>
        <div margin-top *ngIf="part && part.Imagens && part.Imagens.length != 0">
          <strong>Fotos:</strong>
          <ul class="list-pictures">
            <li *ngFor="let imagem of part.Imagens">
              <img [src]="imagem.ImagemURL">
            </li>
          </ul>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="part && part.Mensagens && part.Mensagens.length != 0">
    <ion-card-content>
      <ion-note>Histórico</ion-note>
      <ion-list>
        <ion-item *ngFor="let m of part.Mensagens">
          <ion-avatar item-start>
            <img [src]="m.Pessoa.CaminhoFoto">
          </ion-avatar>
          <h2>{{m.Pessoa.Nome}}</h2>
          <h3>{{m.TempoApartirData}}</h3>
          <p [innerHtml]="m.Mensagem"></p>
        </ion-item>
      </ion-list>
      <ion-item *ngIf="exibirInteracao" class="item-textarea">
        <ion-label stacked text-uppercase>Descrição</ion-label>
        <ion-textarea class="textarea-detalhe" [(ngModel)]="Texto"></ion-textarea>
      </ion-item>
      <ion-label class="error" *ngIf="ErroTexto">Campo Descrição obrigatório</ion-label>
      <button ion-button round full (click)="interagir()" *ngIf="part.Status != 3 && part.Status != 4">{{TextoBotao}}</button>
    </ion-card-content>
  </ion-card>
</ion-content>