<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Minha Participação</ion-title>
    <ion-buttons end>
      <!-- <button (click)="searchToggle()" class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <h4 class="bold">Colabore com a mudança do Brasil</h4>
  <div class="block-text">
    <p>Mostre suas ideias e os problemas que acontecem em sua cidade.</p>
  </div>

  <button ion-button full text-uppercase (click)="openDetail('form-participacao', 1)">Enviar Participação</button>

  <div class="block" margin-top>
    <h6 class="bold" *ngIf="this.lista != 400">Minhas Contribuições</h6>
  <h6 class="bold" *ngIf="this.lista == 400" style="text-align: center;">Você ainda não tem participações cadastradas.</h6>

    <ion-list>
      <ion-card (click)="openDetail('participacao-detalhe', part.Id)" *ngFor="let part of lista">
        <ion-card-content class="flex-card">
          <div>
            <small text-uppercase class="yellow-color">{{part.CategoriaNome}}</small>
            <ion-card-title>{{part.Local}}</ion-card-title>
            <ion-note>{{part.DataCompleta}}</ion-note>
          </div>
          <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
        </ion-card-content>
      </ion-card>

      <div class="wrapError" *ngIf="nadaEncontrado">
        <i class="fa fa-frown-o" aria-hidden="true"></i>
        <p>Ainda não cadastrou uma participação? Não perca tempo e colabore com a mudança do Brasil.</p>
      </div>
    </ion-list>
  </div>
</ion-content>
