<ion-header color="header">
  <ion-navbar>
    <ion-title text-center>{{interna.Titulo}}</ion-title>
    <ion-buttons end>
      <button  class="search-header">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content style=" background-color: #fff !important;background:#fff;">
  <style>
    .has-refresher > .scroll-content {
    background-color: #fff !important;
}
.textovolunt{
  padding-left:16px;
  padding-right:16px;
  padding-bottom: 10px;
}
.has-refresher > .scroll-content { background-color: #fff!important; }


  </style>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <!-- <img src="{{interna.Imagem}}" class="img-featured" > -->
  <iframe width="100%" height="400" [src]="VideoIframe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <div  style="background-color:#fff!important; margin-top: -1%!important; ">
    <!-- <header class="buttons-event right" style="height: 48px!important;
    margin-top: -3%!important;padding: 16px;">
      <button ion-button icon-left clear small [ngClass]="{'liked': interna.JaCurtiu}" (click)="postLike(interna)">
        <ion-icon name="heart"></ion-icon>
        <div>{{interna.Curtidas}}</div>
      </button>
    </header> -->
    <div class="textovolunt">
    <h2 class="bold">{{interna.Titulo}}</h2>
    <div class="block-text" margin-top>
      <p [innerHtml]="interna.Texto"></p>
    </div>
  </div>
    <!-- <footer padding-top>
      <button ion-button full text-uppercase (click)="openModal()">Convide Amigos</button>
    </footer> -->
  </div>
</ion-content>