page-dados-complementares {
    .progress-bar {
        height: 15px;
        width: 100%;
        border-radius: 5px;
        margin: 40px 0 40px;
        background: #e9e9e9;
        .bar {
            height: 15px;
            width: 0%;
            transition: all 0.4s ease;
            background: url(../assets/imgs/pattern-bar.png) repeat-x left top color($colors, primary);
            position: relative;
            border-radius: 5px;
            transition: all 0.3s 1s ease;
        }
        .status {
            margin: 30px 0;
            border-radius: 5px;
            border: 1px solid #e9e9e9;
            padding: 8px;
            display: inline-block;
            color: color($colors, primary);
            position: absolute;
            right: -50px;
            text-align: center;
            min-width: 100px;
            &:before {
                width: 0;
                height: 0;
                content: '';
                top: -12px;
                left: 0;
                right: 0;
                margin: auto;
                border: 0 solid transparent;
                border-right-width: 11px;
                border-left-width: 11px;
                position: absolute;
                border-bottom: 13px solid #e9e9e9;
            }
        }
    }
}

.list-default {
    padding: 0;
    width: 100%;
    li {
        border-bottom: 1px solid #e9e9e9;
        padding: 10px 0;
        justify-content: space-between;
        list-style: none;
        font-size: 1.6rem;
        display: flex;
        ion-icon {
            margin: 0 5px;
            &.heart {
                color: #bfbfbf;
                &.select {
                    color: color($colors, secondary)
                }
            }
        }
    }
}