<div class="container-round" text-center>
  <header>
    <h3 class="title-blue">Amigos que estão no movimento</h3>
    <p>Seus amigos do Facebook</p>
  </header>
  <ion-list>
      <ion-item>
        <ion-avatar item-start>
            <img src="http://via.placeholder.com/45x45" class="avatar">
        </ion-avatar>
        <h2>Nome da Pessoa</h2>
        <p>Pedir Convite</p>
      </ion-item>  
      <ion-item>
        <ion-avatar item-start>
          <img src="http://via.placeholder.com/45x45" class="avatar">
        </ion-avatar>
        <h2>Nome da Pessoa</h2>
        <p>Pedir Convite</p>
      </ion-item>
      <ion-item>
        <ion-avatar item-start>
            <img src="http://via.placeholder.com/45x45" class="avatar">
        </ion-avatar>
        <h2>Nome da Pessoa</h2>
        <p>Pedir Convite</p>
      </ion-item>  
      <ion-item>
        <ion-avatar item-start>
          <img src="http://via.placeholder.com/45x45" class="avatar">
        </ion-avatar>
        <h2>Nome da Pessoa</h2>
        <p>Pedir Convite</p>
      </ion-item>
      <ion-item>
        <ion-avatar item-start>
            <img src="http://via.placeholder.com/45x45" class="avatar">
        </ion-avatar>
        <h2>Nome da Pessoa</h2>
        <p>Pedir Convite</p>
      </ion-item>  
      <ion-item>
        <ion-avatar item-start>
          <img src="http://via.placeholder.com/45x45" class="avatar">
        </ion-avatar>
        <h2>Nome da Pessoa</h2>
        <p>Pedir Convite</p>
      </ion-item>
      <ion-item>
        <ion-avatar item-start>
            <img src="http://via.placeholder.com/45x45" class="avatar">
        </ion-avatar>
        <h2>Nome da Pessoa</h2>
        <p>Pedir Convite</p>
      </ion-item>  
      <ion-item>
        <ion-avatar item-start>
          <img src="http://via.placeholder.com/45x45" class="avatar">
        </ion-avatar>
        <h2>Nome da Pessoa</h2>
        <p>Pedir Convite</p>
      </ion-item>
  </ion-list>
</div>

