page-programa-governo {
  
    .list-md .item-block .item-inner{
        border: 0;
    }
    .item-md{
        padding: 2% 6% !important;
        margin-bottom: 20px!important;

    }
    ion-label{
        white-space: inherit!important;
        padding-right: 5%!important;
    }
    ion-list{
        margin: 7% 0%!important;
        ion-item{
            background: #ffffff!important;
            padding: 3% 6% !important;
            border-radius: 10px!important;
            margin-bottom: 20px!important;
            ion-avatar{
                width: 45px!important;
                border: 0 solid #ccc;
                border-radius: 0%;
                min-height: 35px!important;
                margin: 5px 5px 5px 0 !important;
                img{
                    width: 100%!important;
                    height: auto!important;
                }
            }
            h2{
                text-align: left;
                color: #333333!important;
                margin-top: 0!important;
                font-size: 1.6rem !important;
                font-weight: bold!important;
            }
            ion-icon{
                position: absolute;
                right: 7%;
                top: 27%;
                font-size: 2.2em;
                font-size: 3rem;
                color: #666666;
                margin-left: 10px;
            }
        }
    }
    
}

convide-amigos {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    box-sizing: border-box;
    .container-round {
        background: #ffffff;
        border-radius: 10px;
        padding: 25px;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        h2 {
            font-weight: bold;
        }
        ion-list {
            overflow: auto;
        }
    }
    ion-avatar {
        position: relative;
        ion-icon {
            position: absolute;
            right: -2%;
            bottom: 0;
        }
    }
}
.liked{
    color: #0276a9!important;
}
